.navbar-inverse {
    background-color: rgb(65, 62, 62);
    border-color: #080808
}

.my-navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 20px;
    color: rgb(6, 234, 241);
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

th {
    text-align: center
}

.footerbg {
    background-color: #2fe9c4;
    /* Green */
    color: #4d4a4a;
    padding: 15px 15px;
    font-size: 15px;
    line-height: 15px;
    width: 100%;
    float: left;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.bg-1 {
    background-color: #79e9d2;
    /* Green */
    color: #4d4a4a;
}

.bg-content {
    background-color: #e8f3f1;
    /* Green */
    color: #1f1d1d;
    padding-left: 3mm;
    padding-top: 5mm;
}

td>img {
    /*Select all img elements where the parent is td */
    width: 40pt;
    height: 40pt;
}

.text.center {
    text-align: center;
    padding: 20px 0;
    margin: auto;
}